---
import TextBox from './TextBox.astro';
import { getSlotChildren } from '../../services/getSlotChildren';

const html = await Astro.slots.render('default');

const children = getSlotChildren(html);
---

<div class="flex w-full gap-x-5">
  {
    children.map((child) => (
      <div class="flex grow basis-1">
        <TextBox>
          <Fragment set:html={child} />
        </TextBox>
      </div>
    ))
  }
</div>
