---
import TextBox from './TextBox.astro';
---

<div class="flex w-full gap-x-5">
  <div class="w-full basis-1/4 bg-amber-200"></div>
  <div class="basis-3/4">
    <TextBox>
      <slot />
    </TextBox>
  </div>
</div>
