---
import TextBox from './TextBox.astro';
---

<div class="flex w-full gap-x-5">
  {
    [1, 2, 3, 4].map(() => (
      <div class="basis-1/4">
        <TextBox>
          <slot />
        </TextBox>
      </div>
    ))
  }
</div>
