---
import TextBox from './TextBox.astro';
---

<div class="flex w-full gap-x-5">
  <TextBox>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin,
    lacus eu tempor fringilla, velit orci sagittis lorem, et fermentum nisi
    metus quis libero. In nisl enim, venenatis sed urna nec, pellentesque dictum
    lectus. Nulla a leo at justo feugiat faucibus nec ut nibh. Fusce convallis
    enim sed erat vehicula consectetur. Vestibulum massa mi, aliquet ac ornare
    quis, scelerisque vel erat. Cras suscipit, tellus ut placerat posuere, urna
    felis posuere mi, sit amet rutrum odio neque et dui. Donec diam urna,
    suscipit ac rhoncus et, hendrerit ut nunc. Quisque vitae fringilla metus.
    Phasellus nec sagittis diam. Sed ante nisl, dictum sit amet suscipit ac,
    volutpat sed enim. Praesent quis urna eros. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus
    placerat ullamcorper leo, eget mollis odio placerat ut. Donec tempor in
    augue ac vestibulum.
  </TextBox>
</div>
