---
import Grid from '../../components/Grid.astro';
import Layout from '../../layouts/Layout.astro';
import { getProjects } from '../../services/getProjects';
import { render } from 'astro:content';
import HeadingOne from '../../components/typography/HeadingOne.astro';

export async function getStaticPaths() {
  const projects = await getProjects();

  return projects.map((project) => ({
    params: { path: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<Layout>
  <Grid>
    <div>
      <HeadingOne>{project.data.title}</HeadingOne>

      <div class="prose typography flex flex-col gap-y-20 py-20">
        <Content />

        <!-- <SectionTextRight />

        <SectionTextLeft />

        <SectionTextFullWidth />

        <SectionTextBoxes />

        <SectionImage />

        <SectionTextNarrow /> -->
      </div>
    </div>
  </Grid>
</Layout>
