@import 'tailwindcss';
@import '@alastairgarner/pangram-editorial-old';

@theme {
  --font-sans: 'DM Sans Variable', sans-serif;
  --font-serif: 'Editorial Old', serif;
  --font-size: 16;

  --spacing-navbar: 140px;

  --color-red: #f16141;
  --color-red-50: #fdebe7;
  --color-red-100: #fcd8cf;
  --color-red-200: #f8b0a0;
  --color-red-300: #f58970;
  --color-red-400: #f16141;
  --color-red-500: #ee3c13;
  --color-red-600: #be2e0e;
  --color-red-700: #8f230a;
  --color-red-800: #5f1707;
  --color-red-900: #300c03;
  --color-red-950: #180602;

  --color-blue: #3476df;
  --color-blue-50: #e5edfb;
  --color-blue-100: #cfdef7;
  --color-blue-200: #9abaef;
  --color-blue-300: #699ae7;
  --color-blue-400: #3476df;
  --color-blue-500: #1e5bbe;
  --color-blue-600: #184896;
  --color-blue-700: #123773;
  --color-blue-800: #0c244b;
  --color-blue-900: #061328;
  --color-blue-950: #030812;

  --color-green: #01a75a;
  --color-green-50: #dcffee;
  --color-green-100: #bdffe0;
  --color-green-200: #76febf;
  --color-green-300: #34fea0;
  --color-green-400: #01e97d;
  --color-green-500: #01a75a;
  --color-green-600: #018447;
  --color-green-700: #016536;
  --color-green-800: #004223;
  --color-green-900: #002313;
  --color-green-950: #000f08;

  --color-yellow: #ffe033;
  --color-yellow-50: #fffbe5;
  --color-yellow-100: #fff7cc;
  --color-yellow-200: #fff099;
  --color-yellow-300: #ffe866;
  --color-yellow-400: #ffe033;
  --color-yellow-500: #fed600;
  --color-yellow-600: #ccad00;
  --color-yellow-700: #998200;
  --color-yellow-800: #665700;
  --color-yellow-900: #332b00;
  --color-yellow-950: #191600;

  --color-cream-50: #fefdfb;
  --color-cream-100: #fcfbf7;
  --color-cream-200: #fbfaf4;
  --color-cream-300: #f8f6ec;
  --color-cream-400: #f6f2e5;
  --color-cream-500: #f4f0e0;
}

@utility type-h1 {
  @apply font-serif text-[60px] leading-[60px] font-bold tracking-[0.02em] md:text-[112px] md:leading-[168px];
}

@utility type-h2 {
  @apply font-serif text-[30px] leading-[30px] font-bold tracking-[0.02em] md:text-[56px] md:leading-[84px];
}

@utility type-h3 {
  @apply font-serif text-[40px] leading-[60px] font-bold tracking-[0.02em];
}

@utility type-h4 {
  @apply font-serif text-[20px] leading-[20px] font-normal tracking-[0.02em] md:text-[40px] md:leading-[60px];
}

@utility type-sh1 {
  @apply font-sans text-[36px] leading-[48px] font-bold tracking-[0.02em];
}

@utility type-sh2 {
  @apply font-sans text-[28px] leading-[36px] font-medium tracking-[0.02em];
}

@utility type-sh3 {
  @apply font-sans text-[28px] leading-[36px] font-light tracking-[0.02em];
}

@utility type-sh4 {
  @apply font-sans text-[24px] leading-[32px] font-light tracking-[0.02em];
}

@utility type-body {
  @apply font-sans font-normal;
  font-size: calc((18 / var(--font-size)) * 1rem);
  /* line-height: calc((24 / var(--font-size)) * 1rem); */
  line-height: calc((32 / var(--font-size)) * 1rem);
}

html {
  scroll-padding-top: calc(var(--spacing-navbar) + 20px);
  font-size: calc(var(--font-size) * 1px);
}

/*
Check out Ty

https://github.com/tailwindlabs/tailwindcss-typography/blob/main/src/styles.js
*/
.prose {
  /* * {
    @apply pb-10;
  } */

  > p {
    @apply type-body mt-10;
  }

  p + p {
    @apply mt-[1lh];
  }

  h1 {
    @apply type-h1;
  }

  h2 {
    @apply type-h2 mt-[120px] mb-10 text-center;
  }

  h3 {
    @apply type-h3 mt-20 mb-10;
  }

  h4 {
    @apply type-sh1 mt-20 mb-10;
  }

  /* All first-level child divs */
  > div {
    @apply mt-10;
  }

  img {
    @apply mx-auto max-w-[80%] object-contain;
  }

  h2 + * {
    @apply mt-0;
  }

  h3 + * {
    @apply mt-0;
  }

  h4 + * {
    @apply mt-0;
  }

  /* At the top of the doc */
  > :first-child {
    @apply mt-0;
  }

  /* At the bottom of the doc */
  > :last-child {
    @apply mb-0;
  }

  /* Ordered lists */
  ol {
    @apply type-body mt-10 list-outside list-decimal pl-8;
  }

  ol li {
    @apply mt-2 pl-2;
  }

  ol li:first-child {
    @apply mt-0;
  }

  /* Unordered lists */
  ul {
    @apply type-body mt-10 list-outside list-disc pl-8;
  }

  ul li {
    @apply mt-2 pl-2;
  }

  ul li:first-child {
    @apply mt-0;
  }

  /* Nested lists */
  li > ul,
  li > ol {
    @apply mt-2;
  }

  li > ul {
    @apply list-[circle];
  }

  /* Lists following headings */
  h2 + ol,
  h2 + ul,
  h3 + ol,
  h3 + ul,
  h4 + ol,
  h4 + ul {
    @apply mt-0;
  }

  /* Paragraphs inside list items */
  li > p {
    @apply mt-0;
  }
  /* Footnotes / References section */
  section[data-footnotes] {
    @apply mt-20;
  }

  section[data-footnotes] h4 {
    @apply mt-0;
  }

  section[data-footnotes] ol {
    @apply type-body mt-6 list-outside list-decimal pl-8;
  }

  section[data-footnotes] ol li {
    @apply mt-2;
  }

  section[data-footnotes] ol li:first-child {
    @apply mt-0;
  }

  section[data-footnotes] ol li p {
    @apply mt-0;
  }

  /* Highlight footnote backref when navigated to */
  section[data-footnotes] ol li:target {
    @apply rounded bg-yellow-200;
  }

  /* Highlight footnote reference when navigated to */
  a[data-footnote-ref]:target {
    @apply rounded bg-yellow-200 px-1;
  }
}
