---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import Text from '../components/Text.astro';
---

<Layout>
  <Grid />
  <div class="flex h-screen w-full justify-center pt-[5%]">
    <div class="flex w-full flex-col items-center">
      <Text type="h1"> Extra. </Text>
    </div>
  </div>
</Layout>
