---
import Layout from '../layouts/Layout.astro';

import Grid from '../components/Grid.astro';
import IconButton from '../components/IconButton.astro';
import Instagram from '../assets/icons/instagram.svg';
import Linkedin from '../assets/icons/linkedin.svg';
import Mail from '../assets/icons/mail.svg';
import Person from '../assets/icons/person.svg';

import Hover from '../components/Hover.astro';
import Text from '../components/Text.astro';
import Picture from 'astro/components/Picture.astro';

import heroImage from '../assets/images/kat.jpg';
import ProjectList from '../components/ProjectList.astro';
---

<Layout>
  <Grid>
    <div class="z-10 flex h-[calc(100vh-140px)] w-full justify-center">
      <div class="flex w-fit flex-col gap-y-5">
        <Text type="h1"> Hello. </Text>

        <div class="flex justify-center gap-2 md:gap-3">
          <Text type="h4"> My name is </Text>
          <div class="bg-red mt-3 p-2 md:mt-6 md:p-3">
            <Text type="h4"> Kat. </Text>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:hidden">
      <div class="flex h-80">
        <Text type="sh3"> Mobile designs coming soon... </Text>
      </div>
    </div>

    <div class="hidden lg:block">
      <div class="w-[630px] pb-[104px]">
        <div>
          <span class="flex items-baseline">
            <Text type="sh3"> I am a&nbsp; </Text>
            <Text type="sh1"> UX designer and researcher </Text>
          </span>
        </div>
        <Text type="sh3"> creating in London, United Kingdom. </Text>
      </div>

      <div class="relative pb-10">
        <Picture
          src={heroImage}
          formats={['avif', 'webp']}
          alt="A description of my image."
          layout="full-width"
          fit="cover"
        />
      </div>

      <div class="flex w-full justify-center">
        <Text type="h2">Projects</Text>
      </div>

      <Hover />

      <ProjectList />

      <div class="flex justify-center pt-20">
        <Text type="h2">Want to say hi?</Text>
      </div>

      <div class="flex justify-center gap-x-[120px] pt-10">
        <IconButton
          href="https://www.linkedin.com/in/katcruickshank/"
          colour="green"
        >
          <Linkedin />
        </IconButton>
        <IconButton href="mailto:katrinaicruickshank@gmail.com">
          <Mail />
        </IconButton>
        <IconButton href="" colour="blue">
          <Person />
        </IconButton>
        <IconButton
          href="https://www.instagram.com/_whatkatmakes/"
          colour="red"
        >
          <Instagram />
        </IconButton>
      </div>

      <div class="h-screen"></div>
    </div>
  </Grid>
</Layout>
