---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import HeadingOne from '../components/typography/HeadingOne.astro';
import ProjectBox from '../components/ProjectBox.astro';
import { getVariantByIndex } from '../services/getVariantByIndex';

const TILE_COLOURS = ['green', 'yellow', 'blue', 'red'] as const;

const projects = await getCollection('projects');
---

<Layout>
  <Grid>
    <div class="flex h-screen w-full justify-center pt-[5%]">
      <div class="flex w-full flex-col items-center">
        <HeadingOne> Projects. </HeadingOne>
      </div>
    </div>

    <div class="flex flex-col gap-y-10 py-10">
      {
        projects.map((project, index) => (
          <ProjectBox
            href={`project/${project.id}`}
            title={project.data.title}
            description={project.data.description}
            tags={project.data.tags}
            tagColour={getVariantByIndex(TILE_COLOURS, index)}
            projectNumber={index + 1}
          />
        ))
      }
    </div>
  </Grid>
</Layout>
