---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import HeadingOne from '../components/typography/HeadingOne.astro';
import ProjectBox from '../components/ProjectBox.astro';
import { PROJECTS } from '../content';
import { getVariantByIndex } from '../services/getVariantByIndex';

const TILE_COLOURS = ['green', 'yellow', 'blue', 'red'] as const;
---

<Layout>
  <Grid>
    <div class="flex h-screen w-full justify-center pt-[5%]">
      <div class="flex w-full flex-col items-center">
        <HeadingOne> Projects. </HeadingOne>
      </div>
    </div>

    <div class="flex flex-col gap-y-10 pt-10">
      {
        PROJECTS.map((project, index) => (
          <ProjectBox
            href={`project/${project.path}`}
            title={project.title}
            tagColour={getVariantByIndex(TILE_COLOURS, index)}
            description={project.description}
            projectNumber={index + 1}
          />
        ))
      }
    </div>
  </Grid>
</Layout>
