---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import Text from '../components/Text.astro';
import ProjectList from '../components/ProjectList.astro';
---

<Layout>
  <div class="pb-20">
    <Grid>
      <div class="flex h-screen w-full justify-center pt-[5%]">
        <div class="flex w-full flex-col items-center">
          <Text type="h1"> Projects. </Text>
        </div>
      </div>

      <ProjectList />
      <Grid />
    </Grid>
  </div>
</Layout>
