---
import Grid from '../Grid.astro';
import NavButton from '../NavButton.astro';
import Text from '../Text.astro';
---

<div class="fixed top-0 left-0 z-50 flex w-full bg-white py-5">
  <Grid>
    <div class="flex w-full justify-between">
      <div class="bg-yellow h-[100px] w-[100px] rounded-full"></div>
      <div class="flex items-center gap-x-16">
        <NavButton label="Home" href="/" />
        <NavButton label="Projects" href="/projects" />
        <NavButton label="About" href="/about" />
        <a
          href="/extra"
          class="bg-blue hover:bg-green flex h-[60px] w-[60px] items-center justify-center rounded-full"
        >
          <Text type="body"> <span class="text-white"> Extra </span> </Text>
        </a>
      </div>
    </div>
  </Grid>
</div>
