---
const COLOURS = {
  yellow: 'hover:bg-yellow',
  blue: 'hover:bg-blue',
  green: 'hover:bg-green',
  red: 'hover:bg-red',
};

type Props = {
  href: string;
  colour?: keyof typeof COLOURS;
};

const { href, colour = 'yellow' } = Astro.props;

const colourClass = COLOURS[colour];
---

<a
  href={href}
  class={`${colourClass} flex justify-center items-center rounded-full h-[120px] w-[120px] border-2`}
>
  <slot />
</a>
