---
import SubheadingFour from '../typography/SubheadingFour.astro';
import SubheadingOne from '../typography/SubheadingOne.astro';

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<div class="flex w-full flex-col border-2 px-4 py-6">
  <SubheadingOne>
    {title}
  </SubheadingOne>
  <div class="pt-1">
    <SubheadingFour>
      {description}
    </SubheadingFour>
  </div>
  <ul class="type-body list-disc pt-4 pl-6">
    <li>Wanted to understand why people behave as they do</li>
    <li>Developed an interest in conducting secondary and primary research</li>
    <li>
      Conducted experiments in social psychology and cognitive neuroscience
    </li>
  </ul>
</div>
