---
import TimelineBox from './TimelineBox.astro';
import { type TimelineElement } from '../../content/index.ts';
import clsx from 'clsx';
import Text from '../Text.astro';

const COLOURS = ['bg-red', 'bg-blue', 'bg-green', 'bg-yellow'] as const;

type Props = {
  index?: number;
} & TimelineElement;

const { index = 0, date, ...timelineBoxProps } = Astro.props;

const direction = index % 2 === 0 ? 'left' : 'right';

const flexDirection =
  direction === 'left' ? 'lg:flex-row' : 'lg:flex-row-reverse';
const yearAlignment =
  direction === 'left' ? 'lg:justify-start' : 'lg:justify-end';

const colourClass = COLOURS[index % COLOURS.length];
---

<div class={clsx('flex', flexDirection)}>
  <div class="flex w-full items-center justify-end lg:basis-1/2">
    <TimelineBox {...timelineBoxProps} />
  </div>
  <div class="flex items-center px-2">
    <div class={clsx('h-10 w-10 rounded-full', colourClass)}></div>
  </div>
  <div class={clsx('flex items-center lg:w-full lg:basis-1/2', yearAlignment)}>
    <Text type="h3">
      <span class="px-2">{date}</span>
    </Text>
  </div>
</div>
