---
import Text from '../Text.astro';

type Props = {
  title: string;
  subtitle: string;
  bullets: string[];
  outcome: string;
};

const { title, subtitle, bullets, outcome } = Astro.props;
---

<div class="flex w-full flex-col border-2 px-4 py-6">
  <div class="pb-1">
    <Text type="sh1">
      {title}
    </Text>
  </div>
  <div class="pb-1">
    <Text type="sh4">
      {subtitle}
    </Text>
  </div>
  <ul class="type-body list-disc pb-4 pl-6">
    {bullets.map((bullet) => <li>{bullet}</li>)}
  </ul>
  <Text type="body">
    <span>
      <strong>Outcome:</strong>
      {outcome}
    </span>
  </Text>
</div>
