---
import TimelineRow from './TimelineRow.astro';
import { TIMELINE } from '../../content/index.ts';
---

<div class="relative flex flex-col">
  <div class="absolute flex h-full w-full justify-center">
    <div class="h-full border-[1px] bg-black"></div>
  </div>
  <div class="z-10 flex flex-col gap-y-4 py-10">
    {TIMELINE.map((item, index) => <TimelineRow index={index} {...item} />)}
  </div>
</div>
