---
import { render, getCollection } from 'astro:content';

import Grid from '../../components/Grid.astro';
import Layout from '../../layouts/Layout.astro';
import Text from '../../components/Text.astro';
import Tag from '../../components/Tag.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { path: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;

const { Content } = await render(project);

const { title, description, tags } = project.data;
---

<Layout>
  <Grid>
    <div>
      <Text type="h1" transition:name={`project-title-${title}`}>{title}</Text>
      <Text type="h4">{description}</Text>
      <div class="flex gap-x-8 pt-2">
        {tags?.map((tag) => <Tag colour="green">{tag}</Tag>)}
      </div>

      <div class="prose flex flex-col py-20">
        <Content />
      </div>
    </div>
  </Grid>
</Layout>
